:root{
    --main-radius: 10px;
    --dark-blue: rgb(63, 61, 61);
    --light-background-color-table: rgb(100, 100, 100);
    --background-color: #FFDEAD;
    --light-blue: rgb(100, 100, 100);
}


* {
    background: var(--background-color);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

nav {
    height: 80px;
    background: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px) / 2);
}
.logo {
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;
}
nav a {
    text-decoration: none;
    color: #000;
    padding: 0 1.5rem;
}

nav a:hover {
    color: #fff;
}

.hero {
    background: var(--background-color);
}
link{
    padding: 1rem 3rem;
    font-size: 1rem;
    border: none;
    color: var(--background-color);
    background: #000;
    cursor: pointer;
    border-radius: 50px;
}
link:hover{
    padding: 1rem 3rem;
    font-size: 1rem;
    border: none;
    color: var(--background-color);
    background: #000;
    cursor: pointer;
    border-radius: 50px;
}
#data-container{
    justify-content: space-around;
    display: flex;
}

#data-container,#table-container{
    width: 80%;
    margin: 0 auto;
}

#table-container{
    margin-top: 2%;
    padding: 3px;
    grid-area: table-container;
    background-color: var(--light-background-color-table);
    border-radius: var(--main-radius);
}

#results {
    width: 100%;
    border-collapse: collapse;
    border-style: hidden;
    text-align: center;
}
#results th {
    font-weight: 400;
}
#results td {
    font-weight: 300;
    border: 1px var(--dark-blue) solid;
}

#button-container{
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button {
    background-color: var(--dark-blue);
    color: var(--background-color);
    border: var(--dark-blue);
    border-radius: var(--main-radius);
    font-family: 'Unbounded', cursive;
    font-size: medium;
    font-weight: 300;
    text-align: center;
    padding: 7px 12px 7px 12px;
    margin-right: 2%;
    transition:  color 500ms,background-color 500ms;
}

.button:hover{
    background-color: var(--light-blue);
}


#Y{
    padding: 15px 15px 15px 15px;
    margin-bottom: 5%;
}

.y-value{
    padding: 2px;
    margin-top: 10px;
    margin-right: 2px;
    outline: none;
    border-color: var(--dark-blue);
    border-radius: var(--main-radius);
    box-shadow: 0 0 0 0.05rem var(--dark-blue);
}
#X{
    padding: 15px 15px 15px 15px;
    margin-bottom: 5%;
}
#x-button-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.x-button{
    margin: 3px;
    background-color: var(--dark-blue);
    color: var(--background-color);
    border: var(--dark-blue);
    border-radius: var(--main-radius);
    font-family: 'Unbounded', cursive;
    text-align: center;
    padding: 2px 10px;
    font-size: 80%;
}
.x-button:hover {
    background-color: var(--light-blue);
}

.x-button:active{
    background-color: var(--light-blue);
}

#R{
    padding: 15px 15px 15px 15px;
    margin-bottom: 5%;
}
.r-link {
    text-decoration: none;
    margin: 3px;
    background-color: var(--dark-blue);
    color: var(--background-color);
    border: var(--dark-blue);
    border-radius: var(--main-radius);
    font-family: 'Unbounded', cursive;
    text-align: center;
    padding: 2px 10px;
    font-size: 80%;
}
#r-link-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.r-link:hover{
    background-color: var(--light-blue);
}

#R,#X,#Y{
    font-weight: bold;
    font-style: italic;
}
.active{
    background-color: red;
}
.validationInfo{
    text-align: center;
    color: red;
}

#table-container {
    max-height: 300px; /* Устанавливаем максимальную высоту таблицы в пикселях */
    overflow-y: auto; /* Добавляем вертикальную полосу прокрутки при необходимости */
}

.table {
    width: 100%; /* Устанавливаем ширину таблицы на 100% */
}

#table-container::-webkit-scrollbar {
    width: 10px;
}
/* Фон полосы прокрутки */
#table-container::-webkit-scrollbar-track {
    background-color: var(--background-color);;
}

#table-container::-webkit-scrollbar {
    background-color:  var(--background-color);
}

/* Цвет области, по которой можно прокрутить */
#table-container::-webkit-scrollbar-thumb {
    background-color: var(--dark-blue);
    border-radius: 6px; /* закругление углов полосы прокрутки */
}
/*#C6DF90*/
/*#F2DDC6*/
/*#FFE4C4*/
/*#FFE4C4*/
/*#FFDEAD*/